# Flutter/Dart-specific
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build_runner/
.dart_tool/
.idea/
.vscode/
*.iml
.project
*.log
*.log.*
.swo
.swp
.swn
*.lock


# Android-specific
**/android/**/gradle-wrapper.jar
**/android/**/local.properties
**/android/.gradle
**/android/captures

# iOS-specific
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.generated.xcconfig
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/Flutter/Release.xcconfig

# macOS-specific
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/FlutterPluginRegistrant.podspec
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/Flutter.podspec.lock
**/macos/Flutter/FlutterPluginRegistrant.podspec.lock
**/macos/Flutter/Flutter.xcconfig

# Other
.DS_Store
*.zip
*.tar.gz
*.tar.bz2
*.tar
*.gz
*.bz2
*.xz
*.rar
*.7z
*.apk
*.ipa
*.iml
*.swp
.idea/
*.log
/.idea
.gradle/
.gradle
/.gradle
/captures/
*.lock
firebase_options.dart
/google-services.json