<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760061256838-i5v426q4h53i6fgc8bmahmkkqc14vut8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760061256838-i5v426q4h53i6fgc8bmahmkkqc14vut8</string>
	<key>API_KEY</key>
	<string>AIzaSyAGL2uCLdVQLOME-fhgrEg0my3B0w7FJLE</string>
	<key>GCM_SENDER_ID</key>
	<string>760061256838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bstable</string>
	<key>PROJECT_ID</key>
	<string>bstable</string>
	<key>STORAGE_BUCKET</key>
	<string>bstable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760061256838:ios:cfc11a9174ddc4b3435d07</string>
</dict>
</plist>